@model UpdateProductVm
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic form elements</h4>
                        <p class="card-description">
                            Basic form elements
                        </p>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            @foreach (var item in ViewBag.Colors)
                            {

                                <div class="form-group">
                                    <label asp-for="ColorIds">@item.ColorName</label>
                                    <input name="ColorIds"
                                           type="checkbox"
                                           value="@item.Id"
                                           checked="@(Model.ColorIds.Contains(item.Id))"
                                           class="form-check-input" />
                                    <span asp-validation-for="ColorIds" class="text-danger"></span>
                                </div>
                            }
                                @if (Model.ExistingImages != null)
                                {
                                    @foreach (var image in Model.ExistingImages)
                                    {
                                        <div class="form-group">
                                            <img src="@image.ImageUrl" width="100" />

                                            <input type="checkbox"
                                            name="DeleteImagesIds"
                                            value="@image.Id" />

                                            <label>Sil</label>
                                        </div>
                                    }
                                }
                                <div class="form-group">
                                <select asp-for="Size" class="form-control">
                                    <option value="">Select Size</option>
                                    <option value="Small">Small</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Large">Large</option>
                                </select>
                                <span asp-validation-for="Size" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Count">Count</label>
                                <input asp-for="Count" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Discount">Discount</label>
                                <input asp-for="Discount" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>Şəkillər (maksimum 6)</label>
                                <input asp-for="NewImages" type="file" multiple />
                            </div>
                            <div class="form-group">
                                <select asp-for="CategoryId">
                                    <option value="">Select categories</option>
                                    @foreach (var item in ViewBag.Categories)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
</div>
</div>



